/* radio boxes */
.cell-label {
  display : block;
  width: 140px;
}
.cell-label > input{
  visibility: hidden;
  position: absolute;
}
.cell-label > input + div{
  cursor:pointer;
  border:2px solid transparent;
}
.cell-label > input:checked + div{
  opacity: 1;
}


.cell {
  height: 120px;
  background-color: red;
  opacity:0.5;
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  margin:8px;
}
.plan-text {
  margin:10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
